body {
    background-color: #e7bb89;
}
h1 {
    color: rgb(187, 11, 11);
    border: solid 1px red;
    font-weight: 100;
}

p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
}
