/* .cabecalho {

    
}


.logo {
     background: orangered url("C:\Users\Aluno\Desktop\Front end lucas\aula7\teste-de -comandos2\THEROCK.jpg") no-repeat 10px 10px;
     padding: 10em 10em 10em 10em;
     display: inline;
 } */ 
  